<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Using local Docker instance as a temporary stand-in for QA environment-->
  <add key="Environment" value="QA" />
  <add key="URL_Local" value="https://localhost:44399" />
  <add key="QA" value="http://rahulshettyacademy.com" />
  <add key="Project" value="Services.Maps.PlacesInfoQA" />
  <add key="Reporting_Enabled" value="True" />
  <add key="Reporting_CreateOneReportFileForEachFeatureFile" value="True" />
</configuration>